/* image-posters.css - Styles for image-based posters */

/* Base image styles */
img {
	width: 100%;
	height: 100%;
	aspect-ratio: var(--r);
	object-fit: cover;
	object-position: var(--pos)
}

/* Styling for images on the backside of image posters */
.fullsize-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	padding: 0.5em;
	border-radius: 0.3em;
}

/* Style for the images within image-type posters */
figure.image-poster-figure img {
	display: block; /* Removes potential extra space below the image */
	width: 100%;    /* Make the image fill the width of the figure */
	height: 100%;   /* Make the image fill the height of the figure */
	object-fit: contain; /* Scale the image while preserving aspect ratio, fitting it inside the container */
	object-position: center; /* Center the image within the figure */
}

/* Front and back styles for basic image posters */
.front {
	color: #fff;
	background: #000;  /* Solid black */
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4em;
	padding: 0.5em;
	text-align: left;
}

.back {
	color: #fff;
	padding: 1em;
	font-size: 0.2em;
	text-align: center;
} 